@import "tailwindcss";

canvas {
  touch-action: none;
}

* {
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #000000;
  --color-secondary: #FFFFFF;
}

.dark {
  --color-primary: #FFFFFF;
  --color-secondary: #000000;
}

@layer base {
  html, body, #root {
    @apply bg-primary;
  }
}